.benefit{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__icon{
    width: rem(128px);
    height: rem(128px);
    flex-shrink: 0;
    background-color: #F2F5F4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(24px);
  }
  &__img{
    width: rem(68px);
    height: rem(68px);
  }
  &__title{
    margin-bottom: rem(7px);
    @include tp-headline_3; 
  }
  &__text{
    @include tp-body_1--gray;
  }

  @include tablets{
    &__titel{
      margin-bottom: 1rem;
    }
  }

  @include phones{
    flex-direction: row;
    width: auto;
    text-align: left;
    &__icon{
      margin-right: rem(12px);
      margin-bottom: 0;
    }
  }
}