.colors-section{
  position: relative;
  background-color: rgb(68, 68, 68);
  color: white;
  height: 100vh;
  display: flex;

  &__title{
    @include tp-headline_1;
    position: absolute;
    top: 100px;
    left: 8%;
  }  
  
  &__colors-menu{
    margin-left: auto;
  }
}