.controll{
  display: flex;
  user-select: none;

  &__el{
    display: none;
  }
  &__visible{
    width: rem(25px);
    height: rem(25px);

    position: relative;
    margin-right: rem(10px);
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before{
      display: block;
      opacity: 0;
      transition: opacity 100ms;
    }   
  }
  &__el:checked ~ &__visible{
    &::before, &::after{ opacity:1 }
  }


  &--radio &{
    &__visible{
      border-radius: 50%;
   
      &::before{
        content: "";
        background-color: $red;
        width: rem(13px);
        height: rem(13px);
        border-radius: 50%;
      }
    }
  }
  &--checkbox &{
    &__visible{
      border-radius: rem(4px);

      &::before{
        content: url('img/icons/checked.svg');
        width: rem(10px);
      }
    }
  }
}