.fixed-menu{
  position: fixed;
  top: 20%;
  right: 2%;

  &__item{
    margin-bottom: rem(2px);
    &:last-child{ margin-bottom: 0; }
  }
  &__link{
    display: block;
    width: rem(18px);
    height: rem(18px);
    border: rem(1px) solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
      content: '';
      display: block;
      width: rem(6px);
      height: rem(6px);
      border-radius: 50%;
      background-color: #7B7B7B;
    }    
  }
  &__item--active &__link{
    border-color: $red;
    &::before{
      background-color: $red;
    }
  }

  @include tablets{
    display: none;
  }
}