.header{
  white-space: nowrap;
  &__wrapper{
    display: flex;
  }

  &__logo{
    margin-right: rem(38px);
  }

  &__navbar{
    padding-top: rem(8px);
  }

  &__contacts{
    padding-top: rem(8px);
    margin-left: auto;
  }

  &__hamburger{
    display: none;
  }
  @include tablets{
    
    &__wrapper{
      justify-content: space-between;
    }

    &__navbar{
      display: none;
    }

    &__contacts{
      display: none;
    }

    &__hamburger{
      display: block;
    }
  } 
}