.hero{
  position: relative;
  height: 100vh;
  min-height: 651px;

  padding-top: 24px;
  padding-bottom: 66px;

  background:
    url('../img/hero-img.png') center right 20% no-repeat #F5F5F5; 


  &__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__header{
    margin-bottom: 94px;
  }

  &__title-section{
    width: 43%;
    margin-bottom: 66px;
  }
  &__title{
    margin-bottom: 22px;
  }
  &__title-desc{
    font-family: "Alegreya Sans", sans-serif;
    font-size: 21px;
    line-height: 1.2;
    margin-bottom: 36px;
    width: 85%;
  }


  &::after{
    content: "";
    display: block;
    width: 46px;
    height: 10px;
    position: absolute;
    top: 100%;
    right: 11.5%;
    transform: translateY(-50%) rotate(-45deg);
    background-color: #C4C4C4;
    z-index: 1; 
  }
}