.hero{
  background-color: #F5F5F5;
  padding-top: 24px;
  padding-bottom: 66px;

  &__header{
    margin-bottom: 94px;
  }

  &__title-section{
    width: 400px;
    margin-bottom: 70px;
  }
  &__title{
    margin-bottom: 22px;
  }
  &__title-desc{
    font-size: 21px;
    line-height: 1.2;
    margin-bottom: 36px;
  }
}