.section{
  position: relative;
  height: 100vh;
  min-height: 651px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title{
    text-align: center;
  }
  
  
  &--benefits{
    &::before{
      content: '';
      display: block;
      border: 18px solid transparent;
      border-top: 35px solid #E01F3D;
      border-bottom: none;
      position: absolute;
      top: 100%;
      left: 5%;
      transform: translateY(-50%) rotate(45deg);
      z-index: 1;
    }
  }
  &--benefits &{
    &__header{
      margin-bottom: 63px;
    }
    &__title{
      margin-bottom: 18px;
    }
    &__title-postscript{
      color: $fontGray;
      font-size: 16px;
      line-height: 1.2;
      width: 590px;
      text-align: center;
      margin: 0 auto;
    }
  }

  &--reviews{
    &::before{
      content: '';
      display: block;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: #868686;
      position: absolute;
      top: 100%;
      left: 8%;
      transform: translateY(-45%);
      z-index: 1;
    }
  }
  &--reviews &{
    &__title{
      margin-bottom: 32px;
    }
  }

  &--order{
    background-color: #161616;
    color: white;
  }
  &--order &{
    &__title{
      margin-bottom: 61px;
    }
  }
}