.social{
  display: flex;
  
  
  &__item{
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    background: center center/ 100% 100% no-repeat;
    display: block;
    width: 30px;
    height: 30px;

    &--vk{
      background-image: url('../img/social/vk.svg');
    }
    &--fb{
      background-image: url('../img/social/fb.svg');
    }
    &--in{
      background-image: url('../img/social/in.svg');
    }
    &--tg{
      background-image: url('../img/social/tg.svg');
    }
  }
}