.controll {
  display: flex;
}
.controll__el {
  display: none;
}
.controll__visible {
  margin-right: 10px;
  background-color: white;
}
.controll__visible::after {
  content: "";
  display: block;
}