.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__review {
  margin-bottom: 15px;
}
.reviews__list {
  display: flex;
}
.reviews__item {
  margin-right: 6px;
  width: 74px;
  height: 47px;
  border-radius: 50%;
  overflow: hidden;
}
.reviews__item--active {
  border: 4px solid #000;
}
.reviews__item:last-child {
  margin-right: 0;
}